<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EccubeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings>
   <add name="PostgreSqlConnection" providerName="Npsgql" connectionString="Server=localhost;Port=5432;Database=;UserId=;Password=;" />
   <add name="MySQLConnection" connectionString="SERVER=localhost;Port=3306; DATABASE=; UserId=; PASSWORD=" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
    <EccubeManager.Properties.Settings>
      <setting name="PostgresServer" serializeAs="String">
        <value />
      </setting>
      <setting name="PostgresPort" serializeAs="String">
        <value />
      </setting>
      <setting name="PostgresDatabase" serializeAs="String">
        <value />
      </setting>
      <setting name="PostgresUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="PostgresPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlServer" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlPort" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlDatabase" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="MysqlPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="IsPostgres" serializeAs="String">
        <value>False</value>
      </setting>
    </EccubeManager.Properties.Settings>
  </userSettings>
</configuration>
